<div class="container-fluid">
<div class="row">
      <div class="col-md-12">
        <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Full Name</th>
        <th scope="col">Email</th>
        <th scope="col">Password</th>
        <th scope="col">Description</th>
        <th scope="col">Gender</th>
        <th scope="col">Profile Photo</th>
        <th scope="col">Check box</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of employees ">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.email}}</td>
        <td>{{row.pwd}}</td>
        <td>{{row.comment}}</td>
        <td>{{row.gender}}</td>
        <td>{{row.imgfile}}</td>
        <td>{{row.remberme}}</td>
        <td>
          <button type="button" class="btn btn-primary">Edit</button><span class="p-3"></span>
          <button type="button" class="btn btn-danger" (click)="deleteEmployees(row)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>
  </div>
